body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

p:not(.over_head_title) {
    font-style: italic;
}

.content_wrap, .header_wrap, .footer_wrap{
    max-width: 1140px;
}



.header {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-color: #0b013c ;
    background-size: contain;
    background-position: left;
    color: #fff;
}

.header_wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 13em;
    margin-left: 12rem;
    width: 550px;
    overflow: hidden;
    height: 100%;

}

.header_article {
    height: 100%;
}

.header_logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    width: 150px;
    border: 2px solid #fff;
    padding: 5px;
}

.header_title {
    font-size: 6em;
    margin-bottom: auto;
    margin-top: 1.3em;
}

.header_sub_title {
    font-size: 1.5rem;
    font-style: normal !important;
}

.header_text {
    width: 27rem;
}

.form {
    margin-top: 0.5rem;
}

.form input {
    padding: 0 10px;
    width: 24rem;
    height: 2rem;
    margin: 5px auto;
}

.form button{
    font-size: medium;
    background-color: #f8cb8a;
    border: none;
    padding: 0.6rem 1.5rem;
    margin:5px 10px;
    align-self: center;
}

.form button:hover {
    background-color: #f6bb66;
}


.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: #fefaf3; 
      
}

.content_wrap {
    align-self: center;    
}

.about_wrap, .educational_wrap .common_article_wrap {
    width: 55em;
    margin: 5rem auto;
    text-align: center;
}

.content_wrap .head_text {
    color: #808080;

}

.over_head_title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.head_title {
    position: relative;
    font-size: 2.8rem;
    margin-top: 0.5rem;
}

.head_title::after {
    position: absolute;
    left: 44%;
    bottom: -50%;
    content: "";
    width: 5rem;
    height: 0.5rem;
    background-color: #f6bb66;
}

.about_wrap .head_text, .educational_wrap .head_text {
    margin: 3.5rem auto;
}

.content_wrap img {
    max-width: 100%;
}

.welcome_section {
    display: flex;
    background-color: #fff;
    margin-bottom: 8rem;
}

.welcome_section img {
    width: 65%;
    
}

.welcome_section .right_block {
    padding: 1rem;
    padding-right: 2.8rem;
}

.welcome_section .head_title::after {
    bottom:-30%;
    left: 0;
}

.welcome_section .head_title {
    margin-bottom: 4rem;
}

.blocks_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.block {
    width: 45%;
    background-color: #fff;
}

.block p {
    padding: 0 1rem;
}

.educational_wrap {
    background-color: #0b013c;
    background-image: url("../img/space-bg.png");
    color: #fff;
    margin-bottom: -1.2rem;    
    
}

.educational_wrap .common_article_wrap {
    box-sizing: border-box;
    margin: 8rem auto;
    padding: 0 2.5rem;
}

.educational_wrap .head_title::after {
    bottom: -25%;
}

.footer {
    
    background-image: url("../img/footer-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 10rem 0 5rem;
    width: 100%;
}

.footer_wrap {
    align-self: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer_left_content {
    color: #fff;

}

.footer_left_content h3{
    font-size: 2.3rem;
}

.footer_info {
    line-height: 10px;  
}

.footer_info p {
    font-style: normal;
}

.footer_info a {
    text-decoration: none;
    color: #fff;
}








